@import '../../style/val.scss';

.footer {
  padding: 50px 0 50px;
  background: #333;

  &-wrap {
    margin-top: 50px;
  }

  &_call {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

    .iconfont {
      margin-top: -5px;
      color: #fff;
      font-size: 44px;
    }

    &-info {
      margin-left: 5px;
      color: #d5b532;

      &-phone {
        margin-top: 2px;
        font-size: 28px;
      }
    }
  }

  &_copy, &_address {
    font-size: 14px;
    color: #fff;
    margin-bottom: 14px;
  }

  &-bottom {
    padding: 20px 0;
    background: #111;
    color: #fff;
    text-align: center;
    font-size: 14px;

    a {
      color: #fff;

      &:hover {
        color: $navBarHover;
      }
    }
  }

  &_go-top {
    position: fixed;
    right: 10px;
    bottom: 100px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #515151;

    font-size: 16px;
    color: #eee;
    cursor: pointer;
    z-index: 999;

    &:hover {
      color: #fff;
    }
  }
}